# 项目配置说明

## 编译环境
- 本工程通过MSYS2/UCRT64编译
- 当前终端是PowerShell；powershell不支持&&语法

## 提示
- 常用命令参考: docs/常用命令.txt

## 开发规范
- 请始终使用中文简体回复
- 做现有代码或文件扩展时，对齐上下文格式，包括注释和代码格式
- 做现有模块扩展时，对齐上下文格式，包括注释和代码格式
- 尽量不生成脚本来修改或者生成代码